.card-height{

    height: 300px;

}

.select-container {
    position: relative;
}

.select-container select {
    padding-right: 2.5rem; 
}

.select-container .icon {
    position: absolute;
    top: 50%;
    right: 0.75rem; 
    transform: translateY(-50%);
}
